{% extends "../base.html" %} {% block BLK_MAIN %}
<h1>Tubes</h1>
<div class="row">
  <div class="col">
    <form class="d-flex" method="get">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="q"
        value="{% if filter.form.q.value %}{{ filter.form.q.value }}{% endif %}"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rack Id</th>
      <th scope="col">Batch title</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for tube in tubebatch_list %}
    <tr>
      <td>{{ tube.pk }}</td>
      <td>{{ tube.xtra_data.rack_id }}</td>
      <td>
        <a href="{% url 'tubebatch-detail-page' pk=tube.pk  %}"
          >{{ tube.title }}</a
        >
      </td>
      <td>
        {% if tube.tags %}{% for tag_name in tube.tags.names %}
        <span class="badge bg-secondary">{{ tag_name }}</span>
        {% endfor %}{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
