{% extends "../base.html" %} {% load static %} {% block BLK_MAIN %} {%
csrf_token %}
<script>
  const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
</script>
{{ js_data|json_script:'object_data' }}
<h1>Tube batch</h1>
<h3>{{ object.xtra_data.rack_id }}</h3>
<div id="tubes__title_update"></div>
<div class="row">
  <div class="col">
    {% for tag_name in object.tags.names %}
    <span class="badge bg-secondary">{{ tag_name }}</span>
    {% endfor %}
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Barcode</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    {% for tube in object.tubebatchposition_set.all %}
    <tr>
      <td>{{ tube.tube.id }}</td>
      <td>{{ tube.tube.barcode }}</td>
      <td>{{ tube.position }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block JS_INCLUDE %}
<script src="{% static 'js/index-bundle.js' %}"></script>
{% endblock %}
